body {
  margin: 0;
  text-align: center;
}

#hero {
  background-image: url(./images/torshov.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 119px 154px;
}

#hero-title {
  font-size: 32px;
  background: #1d3557;
  padding: 3px 12px;
}

#hero-text {
  font-size: 18.72px;
  background: #457b9d;
  padding: 5px 29px;
  max-width: 412px;
  margin-top: 0;
}

#hero-title,
#hero-text {
  color: #ffffff;
  border-radius: 10px;
  text-transform: 0 0 5px black;
  font-weight: 700;
}

@media (min-width: 1000px) {
  #hero {
    background-position: center;
  }
}
