body {
  margin: 0;
  text-align: center;
  font-family: Arial;
}

/* Hero Section */

#hero {
  background-image: url(./images/torshov.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 119px 154px;
}

#hero-title {
  font-size: 2rem;
  background: #1d3557;
  padding: 3px 12px;
}

#hero-text {
  font-size: 1.17rem;
  background: #457b9d;
  padding: 5px 29px;
  max-width: 412px;
  margin-top: 0;
}

#hero-title,
#hero-text {
  color: #ffffff;
  border-radius: 10px;
  text-transform: 0 0 5px black;
  font-weight: 700;
}

@media (min-width: 1000px) {
  #hero {
    background-position: center;
  }
}

/* Activities Section */

#activities {
  background: #f1faee;
  padding: 30px 34px;
}

#activities-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 54px;
  color: #1d3557;
}

.activity-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

.activity-img {
  width: 100px;
  border-radius: 50%;
}

.activity-title {
  font-weight: 700;
  font-size: 1rem;
}

.activity-text {
  font-weight: 400;
  font-size: 1rem;
}

.activity-title,
.activity-text {
  color: #1d3557;
}

/* Guide Section */
.guide {
  display: flex;
  justify-content: center;
  padding: 50px 160px;
}

.guide-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: #a8dadc;
  border-bottom: 10px solid #1d3557;
  border-radius: 10px;
  padding: 23px 13px;
  max-width: 400px;
}

.guide-card-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.guide-card-quote {
  font-weight: 400;
  font-size: 1rem;
}

.guide-card-name {
  font-weight: 700;
  font-size: 1rem;
}

.guide-card-img {
  width: 180px;
  border-radius: 10px;
}

.guide-card-title,
.guide-card-quote,
.guide-card-name {
  color: #1d3557;
}
